body {
  background-color: rgb(146, 175, 212) !important;
  // background: url('../img/backend/bg.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.bg-theme {
  background-color: #1a98be !important;
}

.card-header {
  // padding: 0.75rem 1.25rem;
  // margin-bottom: 0;
  background-color: rgba(3, 98, 153, 0.281) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-indicators li {
    background-color: grey
}

.carousel-indicators .active {
    background-color: black
}